body{
margin: 0;
padding: 0;
background:rgb(224,236,252);
position: relative;
}

#people{
    
margin: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  
}


.lists {
    background: white;
    width: 300;
    height: 250;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    justify-content: center;
}

p:hover {
    background-color: rgba(204,204,204,255);
   width: 240;
   height: 33;
}